.p-demolist{
	pre{
		padding: 0;
	}
	.demo{
		border-bottom: 1px solid #999;
		margin-bottom: 20px;
		.view{
			margin-bottom: 10px;
		}
		.block{
			display: none;
		}
	}
	p{
		text-indent: 1em;
	}

	.hljs{
		background-color: #ffe;
	}
}

